{{#section "css"}}
    <link rel="stylesheet" href="/css/menu.css" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
{{/section}}

{{#section "banner"}}
    {{> banner title="Auction List" subTitle="Pick a product and bid now"}}
{{/section}}

{{#section "js"}}
    <script src="/js/countdown.js"></script>
{{/section}}

<section class="container-fluid text-start top-menu-container">
    <div class="container py-4">
        <h3>Product list</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">All categories</li>
            </ol>
        </nav>
    </div>
</section>

<section class="container-fluid bg-light menu-container">
    <div class="container py-5">
        <div class="row">
            <div class="col-xl-3 col-lg-4 d-lg-block filter-sidebar d-none">
                {{> filterbar sort=data.sort page=data.page }}
            </div>

            {{! Product list section }}
            <div class="col-xl-9 col-lg-8 col-12">
                <div class="px-4 mb-4 filter-hidden">
                    <div class="card border shadow-0 rounded">
                        <div class="card-body p-3">
                            <span
                                class="me-3"
                                id="toggle-filter-btn"
                                title="Toggle filter"
                                type="button"
                                class="btn btn-primary"
                            >
                                <i class="fas fa-filter"></i>
                            </span>
                            <span class="fw-bolder">Showing {{data.productList.length}} of {{data.totalRows}} entries</span>
                        </div>
                    </div>
                </div>

                <div class="row g-4 px-4">
                    {{#each data.productList}}
                        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                            <div class="card product-card border">
                                <div class="p-3 postition-relative">
                                    {{#if this.isNew}}
                                        <div class="ribbon">NEW</div>
                                    {{/if}}
                                    <a href="/menu/products/{{this.productId}}" class="card-image" style="max-height: 200px; height: 200px">
                                        <img
                                            src="{{this.thumbnail}}"
                                            class="img-fluid"
                                            style="object-fit: contain; height: 100%; width: 100%"
                                        />
                                        <div class="mask">
                                            <span><i class="fas fa-search-plus me-1"></i>View
                                                details</span>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="card-body p-3 d-flex flex-column justify-content-between"
                                >
                                    <h5 class="card-title">{{this.productName}}</h5>

                                    <div class="card-info mb-2 d-flex align-items-center bid">
                                        <i class="fas fa-gavel text-success"></i>
                                        <span class="text-success">Current Bid</span>
                                        <span class="flex-grow-1 text-end">{{this.currentPrice}} VND</span>
                                    </div>

                                    <div class="card-info mb-2 d-flex align-items-center">
                                        <i class="fas fa-dollar-sign text-danger"></i>
                                        <span class="text-danger">Buy Now</span>
                                        <span class="flex-grow-1 text-end">{{this.buyNowPrice}} VND</span>
                                    </div>

                                    <div class="card-info mb-2 d-flex align-items-center">
                                        <i class="fas fa-crown text-warning"></i>
                                        <span class="text-warning">Top Bidder</span>
                                        <span class="flex-grow-1 text-end">****{{this.firstName}}</span>
                                    </div>

                                    <div
                                        class="card-info mb-2 d-flex align-items-center timer"
                                    >
                                        <span class=" fw-bolder countdown">{{this.expiredDate}}</span>
                                        <span class="flex-grow-1 text-end">{{this.totalBids}} Bids</span>
                                    </div>

                                    <a
                                        href="/menu/products/{{this.productId}}"
                                        type="button"
                                        class="btn btn-primary btn-block bidnow"
                                    >
                                        <i class="fas fa-gavel me-2"></i>
                                        Go to bid now
                                    </a>
                                </div>

                                <div class="card-footer text-center px-3 py-2">
                                    <p class="m-0 verical-align-middle">Posted {{this.createdDate}}</p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                {{! Product list section - end }}
                {{> pagination list=data.pageList}}
            </div>
        </div>
    </div>
</section>

{{!-- Filter modal --}}
<div
    class="filter-modal"
    id="filterModal"
>
    <div class="m-0 animate__animated animate__slideInLeft" id="filterModalDialog">
        <div class="modal-content rounded-0" id="filterModalContent">
            <div class="modal-header">
                <h4 class="mb-0">Filter bar</h4>
                <button
                    type="button"
                    class="btn-close"
                    id="btn-close-modal"
                ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 filter-sidebar">
                        {{> filterbar sort=data.sort page=data.page }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>