{{#section "banner"}}
    {{> banner title="Your Profile" subTitle="Manage your profile and explore more things"}}
{{/section}}

{{#section "breadcrumb"}}
    <h3>User profile</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">My profile</li>
        </ol>
    </nav>
{{/section}}

{{#section "docTitle"}}
    <title>My Profile | Online Auction</title>
{{/section}}

<div class="card border shadow-0">
    <div class="card-header">
        <h3 class="mb-0">Personal Information</h3>
    </div>

    <div class="row">
        <div class="col-xl-7 col-12">
            <div class="card-body">
                <form action="" method="post" id="profileForm">
                    <div class="form-group mb-3">
                        <label class="form-label" for="firstname">
                            First name:
                            <span class="text-danger">*</span>
                        </label>
                        <input
                            type="text"
                            id="firstname"
                            class="form-control"
                            name="first_name"
                            value="{{data.userInfo.firstname}}"
                            required
                        />
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label" for="lastname">
                            Last name:
                            <span class="text-danger">*</span>
                        </label>
                        <input
                            type="text"
                            id="last_name"
                            class="form-control"
                            name="last_name"
                            value="{{data.userInfo.lastname}}"
                            required
                        />
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label" for="dob">Day of birth: <span class="text-danger">*</span></label>
                        <input
                            type="text"
                            id="dob"
                            class="form-control"
                            name="dob"
                            value="{{data.userInfo.dob}}"
                            placeholder="Click to pick a date"
                            required
                        />
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" for="province">Province/City: <span class="text-danger">*</span></label>
                        <input
                            type="text"
                            name="province"
                            id="province"
                            list="provinceList"
                            class="form-control"
                            value="{{data.userInfo.province}}"
                            required
                        />
                        <datalist id="provinceList"></datalist>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label" for="district">District: <span class="text-danger">*</span></label>
                        <input
                            type="text"
                            name="district"
                            id="district"
                            list="districtList"
                            class="form-control"
                            value="{{data.userInfo.district}}"
                            required
                        />
                        <datalist id="districtList"></datalist>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label" for="ward">Ward: <span class="text-danger">*</span></label>
                        <input
                            type="text"
                            name="ward"
                            id="ward"
                            list="wardList"
                            class="form-control"
                            value="{{data.userInfo.ward}}"
                            required
                        />
                        <datalist id="wardList"></datalist>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label" for="addressDetail">Address: <span class="text-danger">*</span></label>
                        <input
                            type="text"
                            name="address"
                            id="addressDetail"
                            class="form-control"
                            value="{{data.userInfo.address}}"
                            required
                        />
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary shadow-0">Save changes</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-xl-5 col-12">
            <div class="card-body">
                {{#if (isEqual localUser.userType 'NORMAL')}}
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <i class="fs-4 text-muted fas fa-envelope me-lg-3 me-md-2 me-1"></i>
                        <div class="flex-grow-1">
                            <span class="text-muted">{{data.userInfo.email}}</span>
                        </div>
                        <a
                            href="/user/account/email"
                            class="btn btn-outline-primary btn-sm shadow-0"
                        >Update</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <i class="fs-4 text-muted fas fa-key me-lg-3 me-md-2 me-1"></i>
                        <div class="flex-grow-1">
                            <span class="text-muted">Change password</span>
                        </div>
                        <a
                            href="/user/account/password"
                            class="btn btn-outline-primary btn-sm shadow-0"
                        >Update</a>
                    </div>
                {{/if}}

                {{#if (isEqual localUser.userType 'GOOGLE')}}
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <i class="fs-4 text-muted fas fa-envelope me-lg-3 me-md-2 me-1"></i>
                        <div class="flex-grow-1">
                            <span class="text-muted">{{data.userInfo.email}}</span>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>