{{#section "banner"}}
    {{> banner title="Your Profile" subTitle="Manage your profile and explore more things"}}
{{/section}}

{{#section "breadcrumb"}}
    <h3>User profile</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">My wishlist</li>
        </ol>
    </nav>
{{/section}}

{{#section "css"}}
    <link rel="stylesheet" href="/css/table.css" />
{{/section}}

<div class="card border shadow-0">
    <div class="card-header">
        <h3 class="mb-0">Wishlist</h3>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0 table-custom">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Current price</th>
                        <th scope="col">Expired time</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data.list}}
                        <tr>
                            <td scope="row">{{calcNo @index ../data.page}}</td>
                            <td>
                                <div>
                                    <img class="img-fluid rounded" src={{this.thumbnail}} alt={{this.product_name}}></img>
                                </div>
                            </td>
                            <td>{{this.product_name}}</td>
                            <td>
                                {{#if this.is_sold}}
                                    <div>
                                        <span class="tag tag-danger">Sold</span>
                                    </div>
                                {{else}}
                                    <div>
                                        <span class="tag tag-success">Selling</span>
                                    </div>
                                {{/if}}
                            </td>
                            <td>{{formatMoney this.current_price}} VND</td>
                            <td>{{formatDate this.expired_date}}</td>
                            <td>
                                <div class="action">
                                    <form action="/user/wishlist/delete" method="post">
                                        <a
                                            href="/menu/products/{{this.product_id}}"
                                            class="btn btn-custom btn-custom-main btn-sm shadow-0"
                                            title="View details"
                                            data-mdb-toggle="tooltip"
                                        >
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <input name="id" type="hidden" value={{this.product_id}}></input>
                                        <button
                                            class="btn btn-danger btn-sm shadow-0 remove-wishlist-item"
                                            title="Remove"
                                            data-mdb-toggle="tooltip"
                                            data-removekey="1"
                                            type="submit"
                                        >
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{!-- </form> --}}

        <form action="" method="get">
            <nav class="pagination-container mt-4">
                <ul class="pagination justify-content-center">
                    {{#if (isEqual data.page 1)}}
                        <li class="page-item disabled" aria-current="page">
                            <a class="page-link page-link-custom" href="#"></a>
                        </li>
                    {{else}}
                        <li class="page-item" aria-current="page">
                            <a class="page-link page-link-custom" href="?page={{subtract data.page 1}}">{{subtract data.page 1}}</a>
                        </li>
                    {{/if}}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link page-link-custom" href="?page={{data.page}}">
                            {{data.page}}
                        </a>
                    </li>
                    {{#if data.hasNext}}
                        <li class="page-item" aria-current="page">
                            <a class="page-link page-link-custom" href="?page={{add data.page 1}}">{{add data.page 1}}</a>
                        </li>
                    {{else}}
                        <li class="page-item disabled" aria-current="page">
                            <a class="page-link page-link-custom" href="#"></a>
                        </li>
                    {{/if}}
                </ul>
            </nav>
        </form>

    </div>
</div>