{{#section "banner"}}
    {{> banner title="Your Profile" subTitle="Manage your profile and explore more things"}}
{{/section}}

{{#section "breadcrumb"}}
    <h3>User profile</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
            <li class="breadcrumb-item"><a href="/seller/products">My selling products</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product with id {{id}}</li>
            <li class="breadcrumb-item active" aria-current="page">Edit description</li>
        </ol>
    </nav>
{{/section}}

<div class="card border shadow-0">
    <div class="card-header">
        <h3 class="mb-0">Edit description</h3>
    </div>

    {{#if notFound}}
        <div
            class="modal fade show d-block"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="notFoundModal"
            aria-modal="true"
            role="dialog"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body d-flex flex-column align-items-center">
                        <div class="text-center mb-3">
                            <i
                                class="fas fa-exclamation-triangle text-warning"
                                style="font-size: 5rem;"
                            ></i>
                        </div>

                        <div class="text-center mb-3 fs-3">
                            Product not found
                        </div>

                        <div class="text-center mb-3">
                            This may be an error or product has been removed
                        </div>

                        <div class="text-center">
                            <a
                                role="button"
                                class="btn btn-custom btn-custom-main"
                                href="/menu/categories/all"
                            >
                                Back to menu
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade show"></div>
    {{else}}
        {{#if success}}
            <div
                class="modal fade show d-block"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="notFoundModal"
                aria-modal="true"
                role="dialog"
            >
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body d-flex flex-column align-items-center">
                            <div class="text-center mb-3">
                                <i
                                    class="fas fa-check-circle text-success"
                                    style="font-size: 5rem;"
                                ></i>
                            </div>

                            <div class="text-center mb-3 fs-3">
                                Edit successfully
                            </div>

                            <div class="text-center mb-3">
                                Your product's description has been updated successfully.
                            </div>

                            <div class="modal-footer">
                                <div class="text-center">
                                <a
                                    role="button"
                                    class="btn btn-custom btn-custom-main"
                                    href="/menu/products/{{id}}"
                                >
                                    Go to the product page
                                </a>
                            </div>
                            <div class="text-center">
                                <a
                                    role="button"
                                    class="btn btn-success"
                                    href="/seller/products"
                                >
                                    Go to my products
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade show"></div>
        {{/if}}
    {{/if}}

    <div class="card-body d-flex flex-column align-items-center">
        <div class="w-100">
            <form action="/seller/products/edit" method="post" class="mb-0">
                <div class="mb-3">
                    <label class="form-label text-dark fw-bolder mb-0">Old description</label>
                </div>
                <input type="hidden" name="productId" value={{id}}></input>
                <div class="mb-3">
                    <a
                        class="btn btn-primary"
                        data-mdb-toggle="collapse"
                        href="#oldDes"
                        role="button"
                        aria-expanded="false"
                        aria-controls="oldDes"
                        style="background-color: #6963ff;"
                    >
                        Click here to show
                    </a>
                </div>
                <div class="collapse scroll-section mt-3 mb-3 w-100" id="oldDes" style="max-height: 500px; overflow-y: auto;">
                    <div class="ck-content">
                        {{{data}}}
                    </div>
                </div>
                <label class="form-label text-dark fw-bolder">New description
                    <span class="text-danger">*</span></label>
                <textarea class="form-control" id="editor" name="description"></textarea>

                <div class="d-flex justify-content-center mt-3">
                    <button
                        type="submit"
                        class="shadow-0 btn btn-custom btn-custom-main me-3"
                        id="saveProductBtn"
                    >
                        Save
                    </button>

                    <a type="button" class="shadow-0 btn btn-outline-secondary" href="/seller/products">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{{#section "js"}}
    <script src="/ckeditor/ckeditor.js"></script>
    <script>
        ClassicEditor.create( document.querySelector( '#editor' ), { simpleUpload: { types: ["png",
        "jpeg"], uploadUrl: `/seller/products/upload`, } } ) .then( editor => { window.editor = editor; } ) .catch(
        error => { console.error( 'There was a problem initializing the editor.', error ); } );
    </script>
{{/section}}