<section aria-label="breadcrumb" class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Product list</h3>
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">
                <i class="fas fa-tachometer-alt"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Product list</li>
    </ol>
</section>

{{#section "css"}}
    <link rel="stylesheet" href="/css/table.css" />
    <link rel="stylesheet" href="/css/mdbcustom.css" />
{{/section}}

<div class="card border shadow-0">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0 table-custom">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Seller name</th>
                        <th scope="col">Create at</th>
                        <th scope="col">Status</th>
                        <th scope="col">Expired time</th>
                        <th scope="col">Bidding count</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data.list}}
                        <tr>
                            <td scope="row">{{calcNo @index ../data.page}}</td>
                            <td>
                                <div>
                                    <img class="img-fluid rounded" src={{this.thumbnail}} alt={{this.product_name}}></img>
                                </div>
                            </td>
                            <td>{{this.product_name}}</td>
                            <td>{{this.cat_name}}</td>
                            <td>{{this.seller_name}}</td>
                            <td>{{formatDate this.created_date}}</td>
                            <td>
                                {{#if this.is_sold}}
                                    <div>
                                        <span class="tag tag-danger">Sold</span>
                                    </div>
                                {{else}}
                                    <div>
                                        <span class="tag tag-success">Selling</span>
                                    </div>
                                {{/if}}
                            </td>
                            <td>{{formatDate this.expired_date}}</td>
                            <td>{{this.bid_count}}</td>
                            <td>
                                <div class="action">
                                    <form action="/admin/products/delete" method="post">
                                        <a
                                            href="/menu/products/{{this.product_id}}"
                                            class="btn btn-custom btn-custom-main btn-sm shadow-0"
                                            title="View details"
                                            data-mdb-toggle="tooltip"
                                        >
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <input name="id" type="hidden" value={{this.product_id}}></input>
                                        <button
                                            type="button"
                                            class="btn btn-danger btn-sm shadow-0"
                                            data-mdb-toggle="modal"
                                            data-mdb-target="#confirmModal{{this.product_id}}"
                                        >
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                        <!-- Modal -->
                                        <div
                                            class="modal fade"
                                            id="confirmModal{{this.product_id}}"
                                            tabindex="-1"
                                            aria-labelledby="modalLabel{{this.product_id}}"
                                            aria-hidden="true"
                                        >
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modalLabel{{this.product_id}}">Confirm delete</h5>
                                                        <button
                                                        type="button"
                                                        class="btn-close"
                                                        data-mdb-dismiss="modal"
                                                        aria-label="Close"
                                                        ></button>
                                                    </div>
                                                    <div class="modal-body d-flex flex-column">
                                                        <div class="text-center mb-3">
                                                            <i
                                                                class="fas fa-minus-circle text-danger"
                                                                style="font-size: 5rem;"
                                                            ></i>
                                                        </div>
                                                        <div class="mb-3">
                                                            Delete <b>[{{this.product_name}}]</b>
                                                        </div>
                                                        <div class="mb-3">
                                                            All the related information will also be delete.
                                                        </div>
                                                        <div>
                                                            Do you want to continue?
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-custom btn-custom-main btn-sm shadow-0" data-mdb-dismiss="modal">
                                                            Cancel
                                                        </button>
                                                        <button type="submit" class="btn btn-danger btn-sm shadow-0">OK</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{!-- </form> --}}

        <form action="" method="get">
            <nav class="pagination-container mt-4">
                <ul class="pagination justify-content-center">
                    {{#if (isEqual data.page 1)}}
                        <li class="page-item disabled" aria-current="page">
                            <a class="page-link page-link-custom" href="#"></a>
                        </li>
                    {{else}}
                        <li class="page-item" aria-current="page">
                            <a class="page-link page-link-custom" href="?page={{subtract data.page 1}}">{{subtract data.page 1}}</a>
                        </li>
                    {{/if}}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link page-link-custom" href="?page={{data.page}}">
                            {{data.page}}
                        </a>
                    </li>
                    {{#if data.hasNext}}
                        <li class="page-item" aria-current="page">
                            <a class="page-link page-link-custom" href="?page={{add data.page 1}}">{{add data.page 1}}</a>
                        </li>
                    {{else}}
                        <li class="page-item disabled" aria-current="page">
                            <a class="page-link page-link-custom" href="#"></a>
                        </li>
                    {{/if}}
                </ul>
            </nav>
        </form>

    </div>
</div>