{{#section "docTitle"}}
    <title>Manage Sellers | Admin Dasboard</title>
{{/section}}

<section aria-label="breadcrumb" class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Seller list</h3>
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">
                <i class="fas fa-tachometer-alt"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Seller list</li>
    </ol>
</section>

<div class="card shadow-custom d-flex flex-column">
    <div class="card-body">
        <form action="/admin/sellers" method="post" id="downgradeSellerForm">
            <input type="hidden" name="sellerId" id="sellerIdDowngrade" />
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0 table-custom">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Seller name</th>
                        <th scope="col">Email</th>
                        <th scope="col" style="width: 50px;">Rating point</th>
                        <th scope="col">Expired at</th>
                        <th scope="col" style="width: 50px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data.sellerList}}
                        <tr>
                            <td scope="row">{{this.index}}</td>
                            <td>{{this.fullname}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.ratingPoint}}</td>
                            <td>
                                {{#if (isEqual this.expiredType 0)}}
                                    <span
                                        class="timer timer-danger"
                                    >{{this.sellerExpiredDate}}</span>
                                {{/if}}

                                {{#if (isEqual this.expiredType 1)}}
                                    <span
                                        class="timer timer-warning"
                                    >{{this.sellerExpiredDate}}</span>
                                {{/if}}

                                {{#if (isEqual this.expiredType 2)}}
                                    <span
                                        class="timer timer-success"
                                    >{{this.sellerExpiredDate}}</span>
                                {{/if}}
                            </td>
                            <td>
                                <div class="action">
                                    <button
                                        class="btn btn-danger btn-sm shadow-0 downgrade-seller"
                                        title="Downgrade"
                                        data-mdb-toggle="tooltip"
                                        data-downgradekey="{{this.userId}}"
                                    >
                                        <i class="fas fa-angle-double-down"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            {{!-- {{> pagination}} --}}
        </div>
    </div>
</div>