<section aria-label="breadcrumb" class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">User list</h3>
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">
                <i class="fas fa-tachometer-alt"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">User list</li>
    </ol>
</section>

{{#if msg.message}}
    <div class="d-none" data-message="{{msg.message}}" data-type="{{msg.type}}" id="msg"></div>
    <script type="text/javascript">
        Swal.fire({
            title: $("#msg").data("message"),
            icon: $("#msg").data("type"),
        }).then(() => {
            $("#msg").remove();
        });
    </script>
{{/if}}

<div class="card shadow-custom d-flex flex-column">
    <div class="card-body">
        <div class="mb-3">
            <form action="" method="get" class="d-flex" id="username-search-form">
                <div class="form-outline me-2" style="width: 30%">
                    <input
                        type="text"
                        class="form-control form-control-lg"
                        name="search"
                        id="search"
                        autocomplete="off"
                        value="{{data.search}}"
                    />
                    <label for="search" class="form-label">Search by username</label>
                </div>
                <button
                    type="submit"
                    class="btn btn-custom btn-custom-main shadow-0 me-2"
                    title="Search"
                    data-mdb-toggle="tooltip"
                >
                    <i class="fas fa-search"></i>
                </button>
                <a
                    href="/admin/users"
                    class="btn btn-warning shadow-0 d-flex justify-content-center align-items-center"
                    title="Reload"
                    data-mdb-toggle="tooltip"
                >
                    <i class="fas fa-sync"></i>
                </a>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0 table-custom">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col" style="width: 50px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data.list}}
                        <tr>
                            <td scope="row">{{calcNo @index ../data.page}}</td>
                            <td>{{this.username}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.email}}</td>
                            <td>
                                <div class="action">
                                    <a
                                        href="/admin/users/{{this.user_id}}"
                                        class="btn btn-custom btn-custom-main btn-sm shadow-0"
                                        title="View details"
                                        data-mdb-toggle="tooltip"
                                    >
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            {{!-- {{> pagination}} --}}
            <form action="" method="get">
            <nav class="pagination-container mt-4">
                <ul class="pagination justify-content-center">
                    {{#if (isEqual data.page 1)}}
                        <li class="page-item disabled" aria-current="page">
                            <a class="page-link page-link-custom" href="#"></a>
                        </li>
                    {{else}}
                        <li class="page-item" aria-current="page">
                            <a class="page-link page-link-custom" href="?page={{subtract data.page 1}}">{{subtract data.page 1}}</a>
                        </li>
                    {{/if}}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link page-link-custom" href="?page={{data.page}}">
                            {{data.page}}
                        </a>
                    </li>
                    {{#if data.hasNext}}
                        <li class="page-item" aria-current="page">
                            <a class="page-link page-link-custom" href="?page={{add data.page 1}}">{{add data.page 1}}</a>
                        </li>
                    {{else}}
                        <li class="page-item disabled" aria-current="page">
                            <a class="page-link page-link-custom" href="#"></a>
                        </li>
                    {{/if}}
                </ul>
            </nav>
        </form>
        </div>
    </div>
</div>